$color-white: #fff; //background
$color-fonts: #3C3C3C; //kolor głóny fontów, borders
$color-fonts-signin: #737373; //kolor fontów buttonów signin
$color-fonts-secondary: #5E5322; //kolor dodatkowy fontów
$color-primary: #F0F1F1; //background secondary
$color-secondary: #FAD648; //background tertiary, borders, hover
$color-decoration: #1A1818; //kolor dekoracji