.sectionHeader {
    max-width: 190rem;
    margin: 0 auto;
    // overflow: hidden;
}

.header {
    background-position: -500px 0;
    background-repeat: no-repeat;

    &__container {
        height: 83.1rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__textWrapper {
        margin: 7.5rem 27.5rem 6.6rem 6.6rem;
        text-align: center;
    }

    &__textH1 {
        font-size: 3.8rem;
        // text-align: center;
        line-height: 5.5rem;
    }

    &__decorationImage {
        height: 3.3rem;
        margin-top: 2.5rem;
    }

    &__buttonsWrapper {
        display: flex;
        justify-content: space-between;
        margin: 6.5rem 0;
    }
}